.dots {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: var(--rounded-full);
  display: block;
}

.dot[data-color="red"] {
  background-color: rgba(239, 68, 68, 0.8);
}

.dot[data-color="yellow"] {
  background-color: rgba(234, 179, 8, 0.8);
}

.dot[data-color="green"] {
  background-color: rgba(34, 197, 94, 0.8);
}
