.section {
  width: 100%;
  padding-top: var(--section-gap-desktop);
  padding-bottom: 0;
}

.section:last-child {
  padding-bottom: var(--section-gap-desktop);
}

.inner {
  composes: inner from "../../../styles/container.module.css";
}

@media (max-width: 768px) {
  .section {
    padding-top: var(--section-gap-mobile);
  }

  .section:last-child {
    padding-bottom: var(--section-gap-mobile);
  }
}
